
<div style="margin: 4px 4px 4px 4px;">
<center><h2><span style="border-radius: 15px 15px 15px 0; border: 3px solid #1ce2b4; padding: 0.5em 0.6em; color: #0ac69a;">Redmine Guide</span></h2></center>
</div>

<div class="splitcontent">

  <div class="splitcontentleft">

    <center><h3><span style="border-radius: 5em; padding: 0.5em; background: #11c9ab; color:#ffffff"><b>프로젝트 참여자</b></span></h3></center>

    <div style = "display: flex;">
      <!-- Grow In Utility -->
      <div style="flex: 0 0 50%; max-width: 50%;">
        <div style="
          position: relative;
          display: flex;
          flex-direction: column;
          min-width: 0;
          height: 350px;
          word-wrap: break-word;
          background-color: #fff;
          background-clip: border-box;
          border: 1px solid #e3e6f0;
          border-radius: 0.35rem;
          position: relative !important;">
            <div style="
              padding: 0.75rem 1.25rem;
              margin-bottom: 0;
              background-color: #f8f9fc;
              border-bottom: 1px solid #e3e6f0;
              padding-top: 1rem !important;
              padding-bottom: 1rem !important;">
                <center><h3 style="
                  margin: 0 !important;
                  font-weight: $font-weight-bold !important;
                  color: #4e73df !important;">회원가입</h3></center>
            </div>
            <div style= "flex: 1 1 auto; min-height: 1px; padding: 1.25rem;">
              <div style="margin-bottom: 1rem !important;">
                <code>
                1. 화면 오른쪽 상단의 "등록"을 클릭한다.<br>
                2. 로그인 아이디와 비밀번호를 입력한다.<br>
                3. '*' 표시가 되어 있는 부분을 모두 입력한다.<br>
                4. 왼쪽 아래의 "확인" 버튼을 틀릭한다.<br>
                </code>
              </div>
            </div>
        </div>
      </div>

    <div style="flex: 0 0 50%; max-width: 50%;">
      <div style="
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        height: 350px;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #e3e6f0;
        border-radius: 0.35rem;
        position: relative !important;">
          <div style="
            padding: 0.75rem 1.25rem;
            margin-bottom: 0;
            background-color: #f8f9fc;
            border-bottom: 1px solid #e3e6f0;
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;">
              <center><h3 style="
                margin: 0 !important;
                font-weight: $font-weight-bold !important;
                color: #4e73df !important;">로그인</h3></center>
          </div>
          <div style= "flex: 1 1 auto; min-height: 1px; padding: 1.25rem;">
            <div style="margin-bottom: 1rem !important;">
              <code>
                1. 화면 오른쪽 상단의 "로그인"을 클릭한다.<br>
                2. 아이디와 비밀번호를 입력한다.<br>
                3. 로그인 한다.<br>
              </code>
            </div>
          </div>
      </div>
    </div>
  </div>
    <!------------------------------------------------------->

    <div style = "display: flex;">
        <!-- Grow In Utility -->
        <div style="flex: 0 0 50%; max-width: 50%;">
          <div style="
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            height: 350px;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #e3e6f0;
            border-radius: 0.35rem;
            position: relative !important;">
              <div style="
                padding: 0.75rem 1.25rem;
                margin-bottom: 0;
                background-color: #f8f9fc;
                border-bottom: 1px solid #e3e6f0;
                padding-top: 1rem !important;
                padding-bottom: 1rem !important;">
                  <center><h3 style="
                    margin: 0 !important;
                    font-weight: $font-weight-bold !important;
                    color: #4e73df !important;">프로젝트 참여</h3></center>
              </div>
              <div style= "flex: 1 1 auto; min-height: 1px; padding: 1.25rem;">
                <div style="margin-bottom: 1rem !important;">
                  <code>
                  1. 상단 바의 "프로젝트"를 클릭한다.<br>
                  2. 참여 프로젝트 목록을 확인한다.<br>
                  3. 진행하고자 하는 프로젝트를 클릭하여 참여한다.<br>

                  </code>
                </div>
              </div>
          </div>
        </div>

        <div style="flex: 0 0 50%; max-width: 50%;">
          <div style="
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            height: 350px;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #e3e6f0;
            border-radius: 0.35rem;
            position: relative !important;">
              <div style="
                padding: 0.75rem 1.25rem;
                margin-bottom: 0;
                background-color: #f8f9fc;
                border-bottom: 1px solid #e3e6f0;
                padding-top: 1rem !important;
                padding-bottom: 1rem !important;">
                  <center><h3 style="
                    margin: 0 !important;
                    font-weight: $font-weight-bold !important;
                    color: #4e73df !important;">일감 상태 업데이트</h3></center>
              </div>
              <div style= "flex: 1 1 auto; min-height: 1px; padding: 1.25rem;">
                <div style="margin-bottom: 1rem !important;">
                  <code>
                    1. 진행중인 프로젝트를 클릭한다.<br>
                    2. 상단 메뉴 바의 "일감"을 클릭한다.<br>
                    3. 상태를 업데이트하고자 하는 일감을 클릭한다.<br>
                    4. "편집"을 클릭한다.<br>
                       4-1. 업데이트 할 부분을 클릭하여 일감 상태를 업데이트한다.<br><br>
                  </code>


                  <form>
                    <select name="guide" >
                      <option value="none">=== 일감 업데이트 도움말 ===</option>
                      <option value="a">o 유형 : 관리자가 정한 일감의 성격</option>
                      <option value="b">o 설명 : wiki 문법을 지원</option>
                      <option value="c">o 상태: 새로운 일감인 경우 신규만 지원</option>
                      <option value="d">o 시작시간, 완료기한: 일감의 처리 일정</option>
                      <option value="e">o 추정시간: 근무시간 기준으로 반영</option>
                      <option value="f">o 담당자: 프로젝트 참여자 중 담당자를 할당</option>
                      <option value="g">o 범주: 설정한 범주 중 적절한 것을 선택</option>
                      <option value="h">o 목표 버전: 설정한 버전 중 적잘한 것을 선택</option>
                      <option value="i">o 진척도: 일감 진행 후 진척도를 반영</option>
                    </select>
                  </form>



                </div>
              </div>
          </div>
        </div>
    </div>

   <div style = "display: flex;">
        <!-- Grow In Utility -->
        <div style="flex: 0 0 50%; max-width: 50%;">
          <div style="
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            height: 400px;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #e3e6f0;
            border-radius: 0.35rem;
            position: relative !important;">
              <div style="
                padding: 0.75rem 1.25rem;
                margin-bottom: 0;
                background-color: #f8f9fc;
                border-bottom: 1px solid #e3e6f0;
                padding-top: 1rem !important;
                padding-bottom: 1rem !important;">
                  <center><h3 style="
                    margin: 0 !important;
                    font-weight: $font-weight-bold !important;
                    color: #4e73df !important;">주요 기능</h3></center>
              </div>
              <div style= "flex: 1 1 auto; min-height: 1px; padding: 1.25rem;">
                <div style="margin-bottom: 1rem !important;">
                  <code>
                  o 프로젝트: 프로젝트를 구분하는 단위, 이 단위에 따라 업무, 뉴스, 저장소 등이 구분된다.<br>
                  o 일감(이슈): 업무의 기록, 담당자의 지정, 일정의 산출 등이 이루어지는 단위<br>
                  o 위키: 위키는 링크를 통해서 연관된 지식을 그물망처럼 연결시킨 지식 저장의 형태<br>
                    프로젝트를 위해서 필요한 정보나, 프로젝트를 통해서 산출되는 지식들을 저장<br>
                  o 간트 차트: 일감에 따른 진행상황을 시간의 흐름에 따라서 보여주는 시각화 방법<br>
                  o 달력: 캘린더의 형식으로 일감들의 기간을 보여줌<br>
                  o 문서: 게시판의 형식으로 정보를 저장<br>
                  o 파일: 공유해야 할 파일을 저장<br>
                  o 저장소: 버전관리 시스템과 연결해서 소스코드나 문서의 내용을 보거나 이력을 추적할 수 있음<br>
                  </code>
                </div>
              </div>
          </div>
        </div>
    </div>

  </div>

<!----------------------------------------------------------------------------------------------->

  <div class="splitcontentright">

    <center><h3><span style="border-radius: 5em; padding: 0.5em; background: #11c9ab; color:#ffffff"><b>프로젝트 관리자</b></span></h3></center>

    <div style = "display: flex;">
      <!-- Grow In Utility -->
      <div style="flex: 0 0 50%; max-width: 50%;">
        <div style="
          position: relative;
          display: flex;
          flex-direction: column;
          min-width: 0;
          height: 350px;
          word-wrap: break-word;
          background-color: #fff;
          background-clip: border-box;
          border: 1px solid #e3e6f0;
          border-radius: 0.35rem;
          position: relative !important;">
            <div style="
              padding: 0.75rem 1.25rem;
              margin-bottom: 0;
              background-color: #f8f9fc;
              border-bottom: 1px solid #e3e6f0;
              padding-top: 1rem !important;
              padding-bottom: 1rem !important;">
                <center><h3 style="
                  margin: 0 !important;
                  font-weight: $font-weight-bold !important;
                  color: #4e73df !important;">로그인</h3></center>
            </div>
            <div style= "flex: 1 1 auto; min-height: 1px; padding: 1.25rem;">
              <div style="margin-bottom: 1rem !important;">
                <code>
                1. 화면 오른쪽 상단의 "로그인"을 클릭한다.<br>
                2. 아이디와 비밀번호를 입력한다.<br>
                   2-1. 관리자는 'admin' 계정으로 로그인 한다.<br>
                3. 로그인 한다.<br>
                </code>
              </div>
            </div>
        </div>
      </div>

      <div style="flex: 0 0 50%; max-width: 50%;">
        <div style="
          position: relative;
          display: flex;
          flex-direction: column;
          min-width: 0;
          height: 350px;
          word-wrap: break-word;
          background-color: #fff;
          background-clip: border-box;
          border: 1px solid #e3e6f0;
          border-radius: 0.35rem;
          position: relative !important;">
            <div style="
              padding: 0.75rem 1.25rem;
              margin-bottom: 0;
              background-color: #f8f9fc;
              border-bottom: 1px solid #e3e6f0;
              padding-top: 1rem !important;
              padding-bottom: 1rem !important;">
                <center><h3 style="
                  margin: 0 !important;
                  font-weight: $font-weight-bold !important;
                  color: #4e73df !important;">프로젝트 생성</h3></center>
            </div>
            <div style= "flex: 1 1 auto; min-height: 1px; padding: 1.25rem;">
              <div style="margin-bottom: 1rem !important;">
                <code>
                  1. 왼쪽 상단 바의 "관리"를 클릭한다.<br>
                  2. 관리창이 뜨면 왼쪽 목록에서 "프로젝트"를 클릭한다.<br>
                  3. 프로젝트 관리창이 뜨면 오른쪽 상단의 "+새 프로젝트"를 클릭한다.<br>
                  4. 새 프로젝트 생성창이 나오면 '*' 표시가 되어있는 부분의 필수값을 넣어준다.<br>
                     4-1. 식별자는 전체 시스템에서 Unique 하므로 신중하게 지정한다.<br>
                  5. 왼쪽 하단의 "만들기"를 클릭하여 프로젝트를 생성한다.<br>
                </code>
              </div>
            </div>
        </div>
      </div>
    </div>
  
    <div style = "display: flex;">
        <!-- Grow In Utility -->
        <div style="flex: 0 0 50%; max-width: 50%;">
          <div style="
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            height: 400px;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #e3e6f0;
            border-radius: 0.35rem;
            position: relative !important;">
              <div style="
                padding: 0.75rem 1.25rem;
                margin-bottom: 0;
                background-color: #f8f9fc;
                border-bottom: 1px solid #e3e6f0;
                padding-top: 1rem !important;
                padding-bottom: 1rem !important;">
                  <center><h3 style="
                    margin: 0 !important;
                    font-weight: $font-weight-bold !important;
                    color: #4e73df !important;">일감 설정</h3></center>
              </div>
              <div style= "flex: 1 1 auto; min-height: 1px; padding: 1.25rem;">
                <div style="margin-bottom: 1rem !important;">      
                  <code>
                  1. 일감 상태 설정<br>
                     1-1. 상단바의 '관리 > 일감 상태'를 클릭한다.<br>
                     1-2. '새 일감 상태'를 클릭한다.<br>
                     1-3. 일감 상태 이름을 설정한 후 '만들기'를 클릭한다.<br><br>
                  2. 업무 흐름 설정<br>
                     2-1. 상단바의 '관리 > 업무 흐름'을 클릭한다.<br>
                     2-2. 역할과 해당 역할이 관람할 일감 유형을 선택한다.<br>
                     2-3. 편집을 클릭한다.<br>
                        2-3-1. 허용되는 일감상태를 지정한 후 저장한다.<br>
                  </code>
                </div>
              </div>
          </div>
        </div>

        <div style="flex: 0 0 50%; max-width: 50%;">
          <div style="
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            height: 400px;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #e3e6f0;
            border-radius: 0.35rem;
            position: relative !important;">
              <div style="
                padding: 0.75rem 1.25rem;
                margin-bottom: 0;
                background-color: #f8f9fc;
                border-bottom: 1px solid #e3e6f0;
                padding-top: 1rem !important;
                padding-bottom: 1rem !important;">
                  <center><h3 style="
                    margin: 0 !important;
                    font-weight: $font-weight-bold !important;
                    color: #4e73df !important;">프로젝트 사용자 및 역할 설정</h3></center>
              </div>
              <div style= "flex: 1 1 auto; min-height: 1px; padding: 1.25rem;">
                <div style="margin-bottom: 1rem !important;">
                    1. 사용자 설정<br>
                       1-1. 상단바의 '관리 > 사용자'를 클릭한다.<br>
                       1-2. 사용자를 추가하고자 할 땐, '새 사용자' 버튼을 클릭한다.<br>
                       1-3. 새 사용자에 대한 정보를 입력한다.<br>
                          1-3-1. '*' 표시가 되어 있는 부분을 모두 입력한다.<br>
                       1-4. '만들기'버튼을 클릭하여 사용자를 추가한다.<br><br>
              
                    2. 역할 설정<br>
                       1-1. 상단바의 '관리 > 역할 및 권한'을 클릭한다.<br>
                       1-2. 역할을 추가하고자 할 땐, '새 역할' 버튼을 클릭한다.<br>
                       1-3. 추가하고자 하는 역할의 이름을 설정한 후, 부여하고자 하는 권한을 설정한다.<br>
                       1-4. 역할을 추가한다.<br>
                </div>
              </div>
          </div>
        </div>
    </div>

    <div style = "display: flex;">
      <!-- Grow In Utility -->
      <div style="flex: 0 0 50%; max-width: 50%;">
        <div style="
          position: relative;
          display: flex;
          flex-direction: column;
          min-width: 0;
          height: 400px;
          word-wrap: break-word;
          background-color: #fff;
          background-clip: border-box;
          border: 1px solid #e3e6f0;
          border-radius: 0.35rem;
          position: relative !important;">
            <div style="
              padding: 0.75rem 1.25rem;
              margin-bottom: 0;
              background-color: #f8f9fc;
              border-bottom: 1px solid #e3e6f0;
              padding-top: 1rem !important;
              padding-bottom: 1rem !important;">
                <center><h3 style="
                  margin: 0 !important;
                  font-weight: $font-weight-bold !important;
                  color: #4e73df !important;">프로젝트 버전 및 범주 등록</h3></center>
            </div>
            <div style= "flex: 1 1 auto; min-height: 1px; padding: 1.25rem;">
              <div style="margin-bottom: 1rem !important;">      
                <code>
                1. 프로젝트 버전 등록<br>
                   1-1. 버전을 등록하고자 하는 프로젝트에 들어간 후 상단 메뉴바의 '설정 > 버전' 으로 들어간다.<br>
                   1-2. '새 버전' 버튼을 클릭한 뒤 버전에 대한 정보를 입력한다.<br>
                      1-2-1. '일자'는 해당 버전이 완료되는 날짜이므로 충분한 논의를 거쳐서 결정한다.<br>
                   1-3. '만들기' 버튼을 클릭하여 새로운 버전을 등록한다.<br>

                2. 프로젝트 범주 등록<br>
                   2-1. 범주를 등록하고자 하는 프로젝트에 들어간 후 상단 메뉴바의 '설정 > 일감 범주' 으로 들어간다.<br>
                   2-2. 일감 범주를 등록하고자 한다면, '새 일감 범주'를 클릭한다.<br>
                   2-3. 새 일감 범주 이름과 담당자를 지정한다.<br>
                   2-4. '만들기' 버튼을 눌러 새 일감 범주를 등록한다.<br>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.atom_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.atom_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>
